@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}


// MEDIA QUERY MANAGER
/*

Media Query order
Base + Typography > general layout + grid > page layout > components
*/

@mixin respond($breakpoint) {
  @if $breakpoint == tiny {
    @media only screen and (max-width: 30em) {
      //360px not divided by 16 like the others
      @content;
    }
  }

  @if $breakpoint == smallest {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $breakpoint == smaller {
    @media only screen and (max-width: 46.85em) {
      //750px
      @content;
    }
  }

  @if $breakpoint == small {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }
  @if $breakpoint == normal-small {
    @media only screen and (max-width: 65.625em) {
      //1050px
      @content;
    }
  }

  @if $breakpoint == normal {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $breakpoint == large {
    @media only screen and (max-width: 93.75em) {
      //1500px
      @content;
    }
  }
  @if $breakpoint == largest {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
// How to use
// @include respond(tab-port){
//         width: 100%;
//         display: flex;
//     }
