
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@200;400;500;600&display=swap');

// Colors
$color-white: #fff;
$color-black: #000;
$color-primary: rgb(255, 145, 0);

$font-family: 'Encode Sans Expanded', sans-serif;


