$font-weight-heading: 800;

$font-size-largest: 14rem;
$font-size-large: 10rem;
$font-size-medium: 3rem;
$font-size-small-medium: 2.4rem;
$font-size-small: 1.6rem;
$font-size-smaller: 1.3rem;

.subtitle {
  font-size: $font-size-medium;
  color: $color-white;
  font-weight: 300;
  line-height: 1.6;

  &--black {
    color: $color-black;
  }
}

.heading-primary {
  font-size: 3.5rem;
  font-weight: 200;
}

.heading-secondary {
  font-size: 17rem;
  font-weight: 500;
  line-height: 1;
  &--white {
    color: $color-white;
  }
  &--black {
    color: $color-black;
  }

  @include respond(smaller) {
    font-size: 12rem;
  }
}

.heading-tertiary {
  font-size: 8rem;
  line-height: 1;
  font-weight: 500;

  &--small {
    font-size: 6rem;
  }

  @include respond(smaller) {
    font-size: 4rem;
  }
}

.paragraph {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;

  @include respond(small) {
    font-size: 2.2rem;
  }

  @include respond(smaller) {
    font-size: 2.4rem;
  }

  &--no-line-height {
    line-height: 1.2;
  }

  &--bold {
    font-weight: 500;
  }

  &--link {
    text-decoration: underline;
  }
}
