@import "../../style/abstracts/variables";
@import "../../style/abstracts/mixins";

$padding: 5rem;
.side-bar {
  color: $color-white;
  position: absolute;
  font-size: 2rem;
  top: 0;
  right: 0;
  background-color: rgba($color: $color-black, $alpha: 0.3);
  height: 100vh;
  backdrop-filter: blur(10px);
  width: 45rem;
  z-index: 3;

  transition: transform 0.3s ease-in;

  @include respond(smaller) {
    width: 100%;
    font-size: 2.4rem;
  }

  &--closed {
    transform: translate(83%, 0);
    @include respond(smaller) {
      transform: translate(100%, 0);
    }
  }

  &__content {
    opacity: 1;
    transition: all 0.3s ease-in;
    width: 45rem;
    padding: $padding;
    &--closed {
      opacity: 0 !important;
    }

    @include respond(smaller) {
      width: 100%;
      padding: 10rem 6rem;
    }
  }
}

.search {
  @include center;
  padding-bottom: $padding;
  position: relative;

  &__input {
    width: 100%;
    font-size: 2rem;
    color: $color-white;
    padding: 1.2rem 0;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba($color-white, 0.5);
    transition: all 0.2s ease-out;

    @include respond(smaller) {
      font-size: 2.4rem;
    }

    &:focus,
    &:hover {
      outline: none;
      border: none;
      border-bottom: 1px solid rgba($color-white, 1);
    }

    &::placeholder {
      color: rgba($color-white, 0.5);
    }
  }

  &__error {
    position: absolute;
    color: rgb(255, 102, 102);
    font-size: 1.4rem;
    margin-top: -3.4rem;
  }

  &__btn {
    @include center;
    padding: 1rem 1.2rem;
    background-color: rgba($color-primary, 0.8);

    @include respond(smaller) {
      padding: 1.6rem 1.6rem;
    }
    &:focus,
    &:hover {
      background-color: rgba($color-primary, 1);
    }
  }

  &__icon-container {
    margin-left: 1.2rem;
    @include center;
  }
}

.weather-details {
  margin: 0 0 $padding 0;
  border-bottom: 1px solid rgba($color-white, 1);
  &__heading {
    margin-bottom: $padding;
  }

  &__detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: $padding * 0.5;

    &:last-child {
      margin-bottom: $padding;
    }

    &--title {
      color: rgba($color-white, 0.8);
    }
  }
}

.toggle-btn {
  margin: 1.2rem;
  opacity: 0.8;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-out;

  @include respond(smaller) {
    margin: 3.6rem;
    transform: scale(1.5);
  }

  &__container {
    z-index: 4;
    position: absolute;
    top: 0;
    right: 0;
    &--close {
      z-index: 5;
    }
  }

  &:hover {
    opacity: 1;
    transform: translateY(-0.5px);

    @include respond(smaller) {
      transform: scale(1.5) translateY(-0.5px);
    }
  }

  &:focus {
    outline: 1px solid $color-white;
  }
}

.hidden {
  opacity: 0;
  visibility: hidden;
  z-index: 0;

  transition: all 0.2s ease-out;
}
